%div{:class =>"header-img"}
%div{:id=> "nav-wrapper"}
  %div{:class=> "pure-menu pure-menu-open pure-menu-horizontal", :id=>"make-fixed"}
    %a{:href =>"#", :class => "pure-menu-heading"}
      C-Journal
    %ul
      - @posts.each do |post|
        %li
          %a{:href => post.link, :class => "pure-menu-heading"}
            = post.title