%a{:href=>"https://www.facebook.com/sharer/sharer.php?u=http://clarelennon.com/#{post.link}", :target=>"_blank", :class =>"footer-icon"}
  %i{:class => "fa fa-facebook"}

%a{:href => "https://twitter.com/share?url=http://clarelennon.com/#{post.link}", :target=>"_blank", :class =>"footer-icon"}
  %i{:class => "fa fa-twitter"}