%div
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-9062655-7', 'clarelennon.com');
    ga('send', 'pageview');
%div{:class => "content"}
  %div{:class => "header"}
    = partial('partials/header_partial')
  %div{:class => "pure-g-r" , :id => "main-body"}
    %div{:class => "pure-u-1-8", :id => "left-margin"}
    %div{:class => "pure-u-3-8", :id => "mutable-content-area"}
      - @posts.each do |post|
        = partial(post.partial, :post => post)
    %div{:class => "pure-u-1-8"}
    %div{:class => "pure-u-1-4",  :id => "social-media-block"}
      = partial('partials/social_partial')
    %div{:class => "pure-u-1-24"}
