<!doctype html>
%html{:class => "yui3-js-enabled wf-omnespro-n2-active wf-omnespro-n3-active wf-proximanova-n1-active wf-proximanova-n4-active wf-proximanova-n7-active wf-active"}
  %head
    %link{:rel => "stylesheet", :href => "stylesheets/style.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/pure.css"}
    %link{:href =>"stylesheets/font-awesome/css/font-awesome.css", :rel =>"stylesheet"}
  %body
    = yield
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/header.js"}
