%h1{:class =>"resume-header"}
  clare lennon  / writer
%div{:class => "pure-g-r"}
  %div{:class => "pure-u-3-8"}
    %div{:class => "social-resume"}
      %div{:class => "social-block-resume"}
        %span{:class =>"social-desc-resume"}
          browse
        %span{:class => "social-link-resume"}
          clarelennon.com
      %div{:class => "social-block-resume"}
        %span{:class =>"social-desc-resume"}
          tweet
        %span{:class => "social-link-resume"}
          @clarelennon
      %div{:class => "social-block-resume"}
        %span{:class =>"social-desc-resume"}
          email
        %span{:class => "social-link-resume"}
          clennon2@gmail.com
    %div{:class=>"education-resume"}
      %h2{:class=>"resume-sub-header"}
        education
      %div{:class=>"education-title-resume"}
        University  of  Florida
      %div{:class=>"education-time-resume"}
        2009-2013
      %div{:class=>"education-description-resume"}
        Bachelor  of  science in  journalism, cum laude / Minor in  classics  / Honors Program
      %div{:class=>"education-title-resume"}
        Hillsborough  High  School
      %div{:class=>"education-time-resume"}
        2005-2009
      %div{:class=>"education-description-resume"}
        International Baccalaureate Program
    %div{:class=>"awards-resume"}
      %h2{:class=>"resume-sub-header"}
        awards
      %div{:class=>"award-title-resume"}
        Gov.  R.  H.  Gore  Sr. MemorialScholarship
      %div{:class=>"award-time-resume"}
        2011-2012 / 2012-2013
      %div{:class=>"award-title-resume"}
        National  Merit Scholar
      %div{:class=>"award-time-resume"}
        2009
  %div{:class => "pure-u-5-8"}
    %h2{:class=>"resume-sub-header"}
      experience
    %div{:class => "job-resume"}
      %span{:class => "job-title-resume"}
        Intern  reporter /
      %span{:class => "job-time-resume"}
        The Oregonian Sept. 2013 – present
      %div{:class =>"job-description-resume"}
        Reported  on  features, local events  and breaking  news.
    %div{:class => "job-resume"}
      %span{:class => "job-title-resume"}
        Intern  reporter  /
      %span{:class => "job-time-resume"}
        Tampa Bay Times May 2013  – Aug.  2013
      %div{:class =>"job-description-resume"}
        Reported  on  features, local news, crime and breaking  news.
    %div{:class => "job-resume"}
      %span{:class => "job-title-resume"}
        Freelance reporter  /
      %span{:class => "job-time-resume"}
        The Gainesville Sun Jan.  2013  – April 2013
      %div{:class =>"job-description-resume"}
        Reported  on  University  of  Florida news  and administration.
    %div{:class => "job-resume"}
      %span{:class => "job-title-resume"}
        Books intern  /
      %span{:class => "job-time-resume"}
        Cosmopolitan Aug.  2012-Dec. 2012
      %div{:class =>"job-description-resume"}
        Researched  book  news  and upcoming  titles, organized books and assisted  editors with  articles.
    %div{:class => "job-resume"}
      %span{:class => "job-title-resume"}
        Lab assistant
      %span{:class => "job-time-resume"}
        Jan.  2012-April  2012
      %div{:class =>"job-description-resume"}
        Guided  Mike  Foley’s Reporting lab students  in  news  reporting.
    %div{:class => "job-resume"}
      %span{:class => "job-title-resume"}
        Various /
      %span{:class => "job-time-resume"}
        The Independent Florida Alligator May 2011-Aug. 2012
      %div{:class => "job-sub-title-resume"}
        Editor
      %div{:class =>"job-description-resume"}
        Oversaw editorial content and led a successful  campaign  to  keep the newspaper-owned racks on  campus.
      %div{:class => "job-sub-title-resume"}
        University  desk  editor
      %div{:class =>"job-description-resume"}
        Assigned, developed and edited  university-related  stories.
      %div{:class => "job-sub-title-resume"}
        Staﬀ  writer
      %div{:class =>"job-description-resume"}
        Covered the Student Government  beat  and wrote general assignment  stories for the daily newspaper.
    %div{:class => "job-resume"}
      %span{:class => "job-title-resume"}
        Intern  /
      %span{:class => "job-time-resume"}
        The North Florida Herald May 2011-Aug. 2011
      %div{:class =>"job-description-resume"}
        Wrote general assignment  articles  and covered the city  of Alachua beat  for the weekly  newspaper
%p
  = link_to("/resume.pdf", "Download")