$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$background-color: #fff;
$grey-text: #e0e0e0;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
.center{
  letter-spacing: 0em;
}

#nav-wrapper{
 background-color: $background-color;
 padding-left: 20px;
 width: 100%;
 background:rgba(255,255,255,0.5);
 border-bottom: 1px solid #eee !important;;
}

.nav {
  margin-top: 40px;
  position: relative;
}

.header{
  margin-bottom: 30px;

}
#make-fixed{
  top: 0;
  left: 0;
}
.connect{
  text-align: center;
  color: $grey-text - 40;
  padding:10px 0px 30px 0px;
  border-top: 1px solid $grey-text;
  border-bottom: 1px solid $grey-text;
}

.no-style{
  text-decoration:none;
  color: $grey-text;
}

.social-content{
  padding: 10px;
}

.header-img{
  background-repeat: no-repeat;
  background-image: url("../img/title.png");
  background-position: 0px 0px;
  height: 120px;
  width: 100%;
}
.navbar-overlay {
  float: left;
  margin-top: -123px;
}
