= partial("partials/shared/post_header", :post => post)
%div{:class => 'post-container'}
  %p
    I started my New Year’s Resolution in December. Get fit before the holiday food, you know?
  %p
    I know. It’s weird.
  %p
    For almost six months now, I’ve been sweating and shaking my way through barre classes. I started with Pure Barre in my hometown. Now, in Portland, I do Barre3.
  %p
    But I really got into doing this every day in December. The alarm rings at 5:20 a.m., my husband and I get up, I get dressed and I go.
  %p
    I’m becoming that exercise nut, the one who can’t stop talking about this great workout, how good I feel. It’s probably annoying.
  %p
    This was my first Christmas outside my parents’ living room, and I’m really proud of myself for spending the season working out and eating healthily.
  %p
    I even forgot about my peppermint bark for a couple days because I wasn’t craving chocolate.
  %p
    Like I said -- weird.

  = partial("partials/shared/post_footer", :post=> post)