= partial('partials/shared/post_header', :post => post)
%div{:class => 'post-container'}
  %p
    I have a hard time finding time to read. It’s like working out, I’m realizing: hard to start, but routine and even addictive once you get going.
  %p
    (Getting a workout in hasn’t been a problem because I pay for classes with set times. Who wants to charge me for a book club? You bring the wine.)
  %p
    When I was younger, I was a rabid reader. I read books during meals and the backs of cereal boxes when I had to leave my book. Reading relaxes and engages me at the same time, and I’m determined to get back in the habit.
  %p
    Honestly, I think I’ve let silly Internet articles and social media take over that corner of my life. It’s easier to browse Instagram for a few minutes instead of reading, and I don’t have quite as much leisure time as I did in college.
  %p
    Now that I commute for 90 minutes per day, I’m listening to audiobooks. Something struck me in

    =link_to("http://www.amazon.com/gp/product/1611209595/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1611209595&linkCode=as2&tag=debautblo-20","Kate White’s latest career book,")

    when she commented on creating time for yourself. It’s easy to flip through Pottery Barn catalogs, she said, instead of stopping life to focus on a novel. Facebook is my stack of catalogs -- easy to skim and fake relaxation.
  %p
    So here is my promise to myself: this week, my husband and I aren’t watching TV after work Monday through Thursday. I’m going to take three of those nights, minimum, to spend some time with a book.
  %p
    And now that it’s public and on the Internet, I have to do it.

= partial('partials/shared/post_footer', :post => post)