= partial("partials/shared/post_header", :post=> post)
%p
  My job can be uncomfortable. It can make me squirm, cry and lose sleep.

%p
  And it can leave me in a near panic, standing outside a haunted house in Carlton, trying to calm down near the popcorn table.

%p
  This is my second month at The Oregonian, and I didn’t want to say “but I’m a huge wimp” when my editor asked me to review a haunted house. So I dreaded the assignment quietly.

%blockquote
  "Turns out the only legible words are 'throwing things' and 'got them.'"


%p
  The first night of the haunted house, I arrived to witness the whirring of a chainsaw and a girl stumbling out of the building in tears. And Ben, the staff photographer, was already leaving.

%p
  Deep breath. After a tough-love pep talk from my sister, I signed the waiver and buddied up with a group of 13-year-old girls. I realized later they were barely old enough to make the PG-13 cut; I cleared that hurdle almost a decade ago.

%p
  But when the metal door slid open, screeching on its tracks, I followed them so I didn’t have to edge in first.

%p
  Sadie, Kelsie and Taylor clutched each other and shrieked as masked men and creepy clowns jumped out at us. I armed myself with my notepad, scribbling gibberish so I didn’t have to look too closely around me. Turns out the only legible words are “throwing things” and “got them.”

%p
  A few details stand out in my mind: a pig-masked figure sniffing at me, a girl swinging alone in a dark room and a chainsaw that reeked of gasoline.

%p
  Specifics don’t matter, really. Waiting for anything to creep, leap or crawl out of the darkness just sounds unpleasant, and I like to avoid it.

%p
  But I wound through the maze of Carlton’s Madsen Grain elevator, and lo! I emerged unscathed. Maybe even a tiny bit braver.

%p
  I pushed my boundaries a little, tried something new, and then I got to write about it. And even when I’m wiping goo off my notebook and pretending to not be scared, that is pretty wonderful.

= partial("partials/shared/post_footer", :post=> post)